.two_photo {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 10px;
}

.two_photo a {
    border-radius: 1%;
    border-bottom: none;
    
    overflow: hidden;
    user-select: none;
}

.two_photo a:hover {
   box-shadow: 0 0 4px -2px black;
}

.two_photo a:hover img {
    filter: brightness(0.88);
}

.two_photo a:active {
    transform: scale(0.98);
}

.two_photo img {
    width: 100%;
    height: 100%;
}