/*_____ТЕМНАЯ ТЕМА_____*/
@media (prefers-color-scheme: dark) {
    table.lessons {
        border-left: 2px solid white;
        border-right: 2px solid white;
    }
    
    table.lessons .row_main th {
        border-bottom: 2px solid white;
    }
    
    .two_column .for_two table {
        border-left: 2px solid white;
        border-right: 2px solid white;
    }
}